body {
    font-family: system-ui;
}
a {
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 3px;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 2em 0 2em;
    align-items: center;
}
ul {
    display: flex;
    list-style: none;
}
li {
    margin: 10px;
    font-size: 20px;
}
li:hover{
    color:dodgerblue;
}
.textDiv {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.name {
    font-size: 3.4em;
    display: contents;
}
.headSection {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 5em 2em 5em;
    justify-content: space-between;
}
img {
    width: 40vw;
}
.btn {
    padding: 12px 45px 12px 45px;
    background-color: royalblue;
    color: white;
    font-size: 1.2em;
    margin-top: 3%;
    border: none;
    border-radius: 6px;
    width: 9em;
}
span {
    background-color: royalblue;
    color:white;
}
p {
    font-size: 16px;
}
.Container {
    height: 170px;
    width: 170px;
    margin: 40px;
    border-radius: 5px;
    box-shadow: 0 0 12px grey;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction:column;       
}
.mainContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
}