
@{
    ViewBag.Title = "potfollioView";
}
<head>
    <link rel="stylesheet" href="~/Content/potfollioStyle.css" />
</head>
<body>
    <section class="nav">
        <a>Potf<span>ollio</span> </a>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </section>
    <section class="headSection">
        <div class="textDiv">
            <h1 class="name">
                Muhammad 
                <br/>
                Naqeeb
            </h1>
            <p>Software developer with focus on cross platform web and mobile development.</p>
            <button class="btn">Hire me</button>
        </div>
        <div class="imgDiv">
            <img src="~/Content/male (2).png" />
        </div>
    </section>
    <section class="middle_section">
        <div class="mainContainer">
            <div class="Container">
                <h1 class="name">21</h1>
                <p>Age</p>
            </div>
            <div class="Container">
                <h1 class="name">PHD</h1>
                <p>Degree</p>
            </div>
            <div class="Container">
                <h1 class="name">CUI</h1>
                <p>University</p>
            </div>
        </div>
    </section>
</body>


